train/*
db.sqlite3
*pycache*
.vscode
temp/**
media/*
classification/static/XAI/*
classification/static/**/augmented_images/**/all_classes/**/original/**/augmented/**
classification/static/**/augmented_images/**/new_classes/**/original/**/augmented/**
classification/static/**/augmented_images/**/Orig_classes/**/original/**/augmented/**
classification/model/data.npy
classification/model/new_data.npy
classification/model/new_labels.npy
classification/model/X_test.npy
classification/model/y_test.npy
classification/model/new_model.h5

train/*
User_Custom_Train/*
HP-STSE.wiki/
classification/static/augmented_images/Orig_classes/original/*
classification/static/augmented_images/Orig_classes/augmented/*
classification/static/augmented_images/new_classes/original/*
classification/static/augmented_images/new_classes/augmented/*
classification/static/augmented_images/all_classes/original/*
classification/static/augmented_images/all_classes/augmented/*
classification/new_model/*
